body,
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.pecan {
  width: 200px;
}

table {
  text-align: center;
  width: 100%;
  font-size: 20px;
  align-items: center;
}

thead > tr {
  height: 50px;
  font-weight: bold;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}
